:root {
  --primary-dark-purple-color: rgba(27, 26, 61, 1);
  --primary-blue-color: rgba(39, 65, 241, 1);
  --purple-bg-color: rgba(228, 230, 248, 1);
}

body {
  overflow-x: hidden;
}

.bg-blue {
  background-color: var(--primary-blue-color);
}

.color-dark-purple {
  color: var(--primary-dark-purple-color);
}

.bg-purple {
  background-color: var(--purple-bg-color);
}

ul {
  list-style: none;
  padding-left: 0;
}
ul li {
  cursor: pointer;
}

.fs-7 {
  font-size: 0.875rem;
}

/* hedaer  */
header {
  position: fixed;
  width: 100%;
  transition: opacity 0.5s ease, transform 0.5s ease, background-color 0.5s ease,
    border-bottom 0.5s ease;
}

header.hidden {
  opacity: 0;
}
header.scrolled {
  padding: 0.4rem 0;
}

/* top-hedaer  */
.top-header {
  background: linear-gradient(180deg, #1b1a3f 0%, #05008d 50%, #1e42fb 100%);
}
.nav-menu {
  background-color: rgba(255, 255, 255, 0.1);
}
.off-white-btn {
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  border-radius: 8px;
  padding: 0.5rem 1rem;
}
.blue-btn {
  background-color: var(--primary-blue-color);
  color: white;
  border-radius: 8px;
  padding: 0.5rem 1rem;
}

.estimation-range {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.estimation {
  border: 1.5px solid rgb(87, 84, 189);
  border-radius: 8px;
}

/* custom range slider  */
.value2,
.value3,
.value4 {
  font-size: 26px;
  width: 50px;
  text-align: center;
}

#range4 {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  cursor: pointer;
  outline: none;
  border-radius: 15px;
  height: 20px;
  height: 12px;
  background: rgba(255, 255, 255, 0.1);
}

#range4::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 24px;
  width: 24px;
  background-color: var(--primary-blue-color);
  border: 3px solid #fff;
  border-radius: 50%;
}

#range4::-moz-range-thumb {
  height: 24px;
  width: 24px;
  background-color: var(--primary-blue-color);
  border: 3px solid #fff;
  border-radius: 50%;
}

.range-slider {
  flex: 1;
  display: flex;
  align-items: center;
  position: relative;
}
.range-input {
  position: absolute;
  cursor: pointer;
}

.sliderticks {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: calc(100% - 16px);
  left: 8px;
  pointer-events: none;
}

.sliderticks span {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  line-height: 40px;
  background-color: rgba(255, 255, 255, 0.5);
  font-size: 12px;
  white-space: nowrap;
  cursor: pointer;
}
.sliderticks span div {
  height: 35px;
  display: flex;
  align-items: end;
}

.tick-2 {
  margin-top: 0.5rem;
}
.tick-2 .slidertick {
  display: flex;
  justify-content: center;
}

.tick-2 span {
  background-color: transparent !important;
}

.range {
  margin-top: 1.3rem;
  position: relative;
}
